// paulhsu - start
$primary: #2b89c2; 
$dark: #373f46;
// paulhsu - end

// Import Custom SB Admin 2 Variables (Overrides Default Bootstrap Variables)
@import "variables.scss";

// paulhsu - start: $body-color $gray-600 -> $gray-800
$body-color: $gray-800;
// paulhsu - end

// Import Bootstrap
@import "../vendor/bootstrap/scss/bootstrap.scss";

// Import Custom SB Admin 2 Mixins and Components
@import "mixins.scss";
@import "global.scss";
@import "utilities.scss";

// Custom Components
@import "dropdowns.scss";
@import "navs.scss";
@import "buttons.scss";
@import "cards.scss";
@import "charts.scss";
@import "login.scss";
@import "error.scss";
@import "footer.scss";

